<div class="page-header logo">
  <h1><% if (config.subtitle){ %><%= config.subtitle%><% } else { %><%= config.title%><% }%><span class="blink-fast">∎</span></h1>
</div>

<%- partial('_partial/index', {index: true}) %>